Package: apache2-doc
Source: apache2
Version: 2.4.10-10
Architecture: all
Maintainer: Debian Apache Maintainers <debian-apache@lists.debian.org>
Installed-Size: 19522
Recommends: apache2
Section: doc
Priority: optional
Homepage: http://httpd.apache.org/
Description: Apache HTTP Server (on-site documentation)
 The Apache HTTP Server Project's goal is to build a secure, efficient and
 extensible HTTP server as standards-compliant open source software. The
 result has long been the number one web server on the Internet.
 .
 This package provides the documentation for the Apache 2 HTTP server. The
 documentation is shipped in HTML format and can be accessed from a local
 running Apache HTTP server instance or by browsing the file system directly.
