Package: apache2
Version: 2.4.10-10
Architecture: i386
Maintainer: Debian Apache Maintainers <debian-apache@lists.debian.org>
Installed-Size: 348
Pre-Depends: dpkg (>= 1.17.14)
Depends: lsb-base, procps, perl, mime-support, apache2-bin (= 2.4.10-10), apache2-utils (>= 2.4), apache2-data (= 2.4.10-10)
Recommends: ssl-cert
Suggests: www-browser, apache2-doc, apache2-suexec-pristine | apache2-suexec-custom
Conflicts: apache2.2-common (<< 2.3~)
Replaces: apache2.2-common
Provides: httpd, httpd-cgi
Section: httpd
Priority: optional
Homepage: http://httpd.apache.org/
Description: Apache HTTP Server
 The Apache HTTP Server Project's goal is to build a secure, efficient and
 extensible HTTP server as standards-compliant open source software. The
 result has long been the number one web server on the Internet.
 .
 Installing this package results in a full installation, including the
 configuration files, init scripts and support scripts.
