Package: libapache2-mod-fastcgi
Source: libapache-mod-fastcgi
Version: 2.4.7~0910052141-1
Architecture: amd64
Maintainer: Tatsuki Sugiura <sugi@nemui.org>
Installed-Size: 276
Depends: apache2.2-common (>= 2.2.4), libc6 (>= 2.3)
Section: non-free/web
Priority: optional
Homepage: http://www.fastcgi.com/
Description: Apache 2 FastCGI module for long-running CGI scripts
 This is a FastCGI module for the Apache 2.x web server.  FastCGI is an
 open standard for communicating between a web server and a long-running
 web application.  CGI scripts supporting FastCGI can be started as a
 daemon and process multiple requests without restarting.  This is
 particularly useful for scripts written in languages like Perl, as it
 saves the cost of recompiling the scripts and its loaded modules with
 each invocation.
