Package: libapache2-mod-jk
Source: libapache-mod-jk
Version: 1:1.2.37-1
Architecture: i386
Maintainer: Debian Java Maintainers <pkg-java-maintainers@lists.alioth.debian.org>
Installed-Size: 455
Depends: apache2.2-common, libc6 (>= 2.4)
Suggests: libapache-mod-jk-doc, tomcat6
Conflicts: libapache2-mod-jk2
Replaces: libapache2-mod-jk2
Section: httpd
Priority: optional
Homepage: http://tomcat.apache.org/
Description: Apache 2 connector for the Tomcat Java servlet engine
 Apache Tomcat is the reference implementation for the Java Servlet and
 JavaServer Pages (JSP) specification from the Apache Jakarta project.
 .
 This package contains an Apache 2 module (mod_jk) to forward requests
 from Apache to Tomcat using the AJP 1.3 or 1.4 protocol. It can either
 talk to Tomcat on the local machine or to a remote engine using TCP.
