Package: apache2.2-common
Source: apache2
Version: 2.2.22-13+deb7u4
Architecture: amd64
Maintainer: Debian Apache Maintainers <debian-apache@lists.debian.org>
Installed-Size: 784
Depends: apache2.2-bin (= 2.2.22-13+deb7u4), apache2-utils, mime-support, lsb-base, procps, perl
Recommends: ssl-cert
Suggests: www-browser, apache2-doc, apache2-suexec | apache2-suexec-custom
Conflicts: apache, apache2-common
Replaces: apache2-common
Section: httpd
Priority: optional
Homepage: http://httpd.apache.org/
Description: Apache HTTP Server common files
 The Apache Software Foundation's goal is to build a secure, efficient and
 extensible HTTP server as standards-compliant open source software. The
 result has long been the number one web server on the Internet.
 .
 This package contains the configuration and support scripts.
 However, it does *not* include the server itself; for this you need to
 install one of the apache2-mpm-* packages, such as worker or prefork.
