Package: apache2-mpm-worker
Source: apache2
Version: 2.4.10-10
Architecture: amd64
Maintainer: Debian Apache Maintainers <debian-apache@lists.debian.org>
Installed-Size: 22
Depends: apache2 (= 2.4.10-10)
Provides: httpd, httpd-cgi
Section: oldlibs
Priority: extra
Homepage: http://httpd.apache.org/
Description: transitional worker MPM package for apache2
 This is a transitional package to apache2 for users of apache2-mpm-worker and
 can be safely removed after the installation is complete.
