Package: libapache2-mod-bw
Version: 0.92-11
Architecture: amd64
Maintainer: Sergey B Kirpichev <skirpichev@gmail.com>
Installed-Size: 101
Depends: libc6 (>= 2.4), apache2-api-20120211
Section: httpd
Priority: extra
Homepage: http://apache.ivn.cl/#bandwidth
Description: bandwidth limiting module for apache2
 This module allows you to limit bandwidth usage on every virtual host
 or directory or to restrict the number of simultaneous connections.
 .
 The bandwidth control, for example, can be configured according to
 the criteria: origin of the connection, file extension, file size or
 user agent of the client.
