Package: apache2-suexec
Source: apache2
Version: 2.4.10-10
Architecture: i386
Maintainer: Debian Apache Maintainers <debian-apache@lists.debian.org>
Installed-Size: 3
Pre-Depends: dpkg (>= 1.17.14)
Depends: apache2-suexec-pristine (= 2.4.10-10)
Section: oldlibs
Priority: extra
Homepage: http://httpd.apache.org/
Description: transitional package for apache2-suexec-pristine
 This is a transitional package for apache2-suexec-pristine, and can be safely
 removed after the installation is complete.
